/*add styles for toolbar*/

.app-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .logo-container {
    cursor: pointer;
    padding-left: 15px;
  }
  
  .spacer {
    flex: 1;
  }

.floating-toolbar .mid-links a {
    color: white;
}
  
.custom-toolbar {
    display: flex;
    align-items: center;
}
  
.mid-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
  
.mid-links a {
    margin: 0 10px;
    text-decoration: none;
    position: relative;
}
  
.mid-links a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
  
.mid-links a:hover::after {
    transform: scaleX(1);
}
  
.right-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}
  
.transparent-toolbar {
    background-color: darkorange;
}
  
.right-icons button,
.right-icons a {
    margin-right: 10px;
}
  
.custom-toolbar {
    height: 80px;
}
  
.floating-toolbar .right-icons a.mat-button svg,
.floating-toolbar .right-icons button.mat-icon-button mat-icon {
    vertical-align: middle;
}

@media (max-width: 768px) {
    .toolbar {
      height: 81px;
    }
    .toolbar img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: auto;
    }


@media only screen and (max-width: 1020px) {
    .links-container {
        width: 30%;
    }
}
      
@media only screen and (max-width: 768px) {
    /* hide the links container */
    .links-container {
        display: none;
    }
      
    /* show the hamburger button */
    .hamburger-icon {
        display: block;
    }
}}

