<button (click)="goToPreviousSlide()">Prev</button>
<button (click)="goToNextSlide()">Next</button>

<div class="slider-container">
    <div class="slide">Slide 1</div>
    <div class="slide">Slide 2</div>
    <div class="slide">Slide 3</div>
    <!-- <div class="slide" *ngFor="let slide of slides"></div> e9eef1 -->
    <div class="slide-count" #slideCount>{{(currentSlideIndex + 1).toString().padStart(2, '0')}}/{{slides.length.toString().padStart(2, '0')}}</div>

<div class="dots-container">
    <div class="dot" (click)="onDotClicked(0)"></div>
    <div class="dot" (click)="onDotClicked(1)"></div>
    <div class="dot" (click)="onDotClicked(2)"></div>
</div>