.model-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #f4f4f9;
}

.header-container {
    width: 85vw;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table-container {
    width: 85vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.proceed {
    position: absolute;
    top: 90%;
}