<!-- object detection comparison model selection -->
<div class="model-container">
    <app-sub-heading [subHeadingText]="'Select the models for the comparison of detection results'"></app-sub-heading>
    <div class="header-container">
        <h1>Model Table</h1>
        <!-- buttons to go back to previous page and to proceed -->
        <div class="button-container">
            <a mat-button class="back-button" href="/">Go Back</a>
            <a mat-button class="proceed-button" (click)="proceedToModelSelection()">Proceed</a>
        </div>
    </div>
    <div class="table-container">
        <!-- model selection table -->
        <app-model-table></app-model-table>
    </div>
</div>
