/* model table styles*/

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-raised-button {
    display: inline-block;
    padding: 6px 15px;
    text-align: center;
    background-color: rgb(245, 135, 1);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.mat-column-select {
    overflow: visible;
}
