<!-- object detection comparison model selection -->
<div class="model-container">
    <app-sub-heading [subHeadingText]="'Select the models for the comparison of detection results'"></app-sub-heading>
    <div class="header-container">
        <h2>Models</h2>
        <!-- buttons to go back to previous page and to proceed -->
        <div class="button-container">
            <button mat-raised-button class="back-button" (click)="goBack()">Go Back</button>
            <button mat-raised-button class="proceed-button" (click)="proceedToModelSelection()">Proceed</button>
        </div>
    </div>
    <div class="table-container">
        <!-- model selection table -->
        <app-model-table></app-model-table>
    </div>
</div>
