<div class="container">
    <!-- Background video -->
    <div class="video-container">
        <video #videoElement autoplay loop class="black-and-white">
          <source src="/assets/videos/pedestrian.mp4" type="video/mp4">
        </video>
        <div class="overlay"></div>
        <div class="square"></div>
    </div>

    <div class="home-content">
        <div class="content-center">
          <h1>OASST-PedDet</h1>
      
          <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
      
          <li>
            <a routerLink="model-selection" class="button">Start Simulation</a>
          </li>
        </div>
    </div>
</div>
