.sub-heading-container {
    width: 100vw;
    height: 40px;
    background-color: rgb(76, 72, 137);
    position: absolute;
    top: 80px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
