.image-selection-container {
    z-index: -1;
}

.image-gallery-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    
    /* height: 60%;
    background-color: rgb(218, 255, 237); */
}

.image-gallery {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(215, 254, 221);
}

.image-gallery label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .image-gallery img {
    width: 200px;
    height: 100px;
    object-fit: cover;
  }

.upload-container {

    width: 100vw;
    height: 40%;
    background-color: antiquewhite;
}

.file-upload-container {

    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 30%;
    background-color: rgb(240, 240, 240);
    border: 2px dashed rgb(164, 164, 164);
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropzone {

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
.error-message {
    width: 100px;
    height: 30px;
    border: 1px black;
    background-color: antiquewhite;
}

.image-gallery label {
    display: block;
    position: relative;
  }
  
  .image-gallery label img {
    cursor: pointer;
  }
  
  .image-gallery label .checkmark {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
  }
  
  .image-gallery label.selected .checkmark {
    display: block;
    background-color: #018f08;
    border-color: #018f08;
  }
  
  .image-gallery label.selected .checkmark:before {
    content: '\2713';
    display: block;
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  