<!-- Application content -->
<div class="app-content">
  
  <!-- Loader -->
  <div class="loader" *ngIf="loader">
    <span class="visually-hidden">Loading...</span>
  </div>

  <input type="hidden" #selection>

  <!-- Toolbar -->
  <div class="toolbar" role="banner" *ngIf="!loader">
    <!-- Logo -->
    <img
      width="40"
      alt="Logo"
      src="../assets/images/hennessy-symbol.jpg"
    />
    <div class="spacer"></div>

    <div class="hamburger-icon"></div>

    <!-- Navigation link container -->
    <div class="links-container">

      <div class="github-link-container">
        <!-- Link to GitHub code -->
        <a aria-label="GitHub" target="_blank" rel="noopener" href="https://github.com/RavindishaWi/OASST-PedDet" title="GitHub">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="31">
            <path d="M12 0a12 12 0 0 0-3.8 23.29c.6.11.82-.26.82-.58l-.01-1.99c-3.34.73-4.04-1.61-4.04-1.61-.55-1.39-1.34-1.76-1.34-1.76-1.09-.74.08-.72.08-.72,1.21.08 1.85 1.25 1.85 1.25,1.08 1.85 2.84 1.31 3.53 1,.11-.78.42-1.31.76-1.61-2.67-.31-5.46-1.34-5.46-6a4.83 4.83 0 0 1 1.29-3.34 4.49 4.49 0 0 1 .12-3.29s1-.33 3.3 1.27a11.91 11.91 0 0 1 6.32 0c2.28-1.6 3.29-1.27 3.29-1.27a4.49 4.49 0 0 1 .12 3.29 4.83 4.83 0 0 1 1.28 3.34c0 4.7-2.8 5.7-5.47 6 .43.38.81 1.13.81 2.28v3.38c0 .32.21.7.83.58A12 12 0 0 0 12 0z"
            fill="#fff"/>
          </svg>
        </a>
      </div>

      <div class="youtube-link-container">
        <!-- Link to YouTube demo -->
        <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
          <svg id="youtube-logo" height="36" width="36" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
          </svg>
        </a>
      </div>

      <div class="admin-login-link-container">
        <!-- Link to admin login -->
        <a aria-label="Admin Login" target="_blank" rel="noopener" (click)="openAdminLogin()" title="Admin Login">
          <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 19C3.69137 16.6928 5.46998 16 9.5 16C13.53 16 15.3086 16.6928 16 19" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
            <path d="M13 9.5C13 11.433 11.433 13 9.5 13C7.567 13 6 11.433 6 9.5C6 7.567 7.567 6 9.5 6C11.433 6 13 7.567 13 9.5Z" stroke="#fff" stroke-width="2"/>
            <path d="M15 6H21" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18 3L18 9" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    
    </div>
  </div>

  <div class="container" *ngIf="router.url !== '/model-selection' && router.url !== '/image-selection' && !loader">
    <app-home-page></app-home-page>
  </div>

</div>

<router-outlet></router-outlet>
